@media (max-width:991px) {
    .downloadSection .info {
        margin-bottom: 25px !important;
        text-align: center !important
    }
    .downloadSection .info img {
        margin: 0 auto !important
    }
}

@media (max-width:1060px) {
    nav .desktop {
        display: none !important
    }
    nav .responsive {
        display: block !important
    }
}

@media (max-width:642px) {
    #jumbotron {
        text-align: left
    }
    #jumbotron h1 {
        font-size: 1.7em !important
    }
    #jumbotron h1,
    #jumbotron h2,
    .card__description h2 {
        text-align: left !important
    }
    .btn__search {
        border: 6px solid #e9e9e9;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-radius: 0 0 8px 8px !important;
        border-top: none !important;
        font-size: 14px !important;
        margin: 0 !important;
        max-width: 565px;
        padding: 16px !important;
        position: static !important;
        right: 0 !important;
        top: 0 !important;
        width: 100% !important
    }
    .search__bar--one input[type=text] {
        border-bottom: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        font-size: 18px;
        padding: 20px 15px !important
    }
}

.search-error {
    display: none
}

.main {
    padding: 10px
}

html {
    box-sizing: border-box;
    height: 100%
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    background: #fff;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin: 0 auto
}

.color__primary {
    color: #0006ff
}

.row {
    margin: 0 !important
}

.no-padding {
    padding: 0 !important
}

nav .desktop .upper {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px;
    text-align: center
}

nav .desktop .upper .logo a {
    color: #000 !important;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none !important
}

nav .desktop .upper .logo a span {
    color: #0006ff !important
}

nav .desktop .lower {
    background: #f7f7f7
}

nav .desktop .lower ul {
    -ms-overflow-style: none;
    list-style: none;
    margin: 0;
    overflow: scroll;
    padding: 0;
    scrollbar-width: none;
    white-space: nowrap
}

nav .desktop .lower ul::-webkit-scrollbar {
    display: none
}

nav .desktop .lower ul li {
    display: inline-block
}

nav .desktop .lower ul li.active a {
    background: #fff !important;
    color: #0006ff !important
}

nav .desktop .lower ul li a {
    color: #000;
    display: block;
    padding: 20px;
    text-decoration: none !important
}

nav .desktop .lower ul li a:hover {
    background: #0006ff;
    color: #fff
}

nav .responsive {
    display: none
}

nav .responsive .responsive-menu .logo {
    text-align: left
}

nav .responsive .responsive-menu .logo a {
    color: #000 !important;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none !important
}

nav .responsive .responsive-menu .logo a span {
    color: #0006ff !important
}

nav .responsive .upper {
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center
}

nav .responsive .upper .logo {
    text-align: left
}

nav .responsive .upper .logo a {
    color: #000 !important;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none !important
}

nav .responsive .upper .logo a span {
    color: #0006ff !important
}

nav .responsive .menu-btn {
    cursor: pointer;
    display: inline-block
}

nav .responsive .menu-btn div {
    background-color: #112949;
    border-radius: 3px;
    cursor: pointer;
    height: 4px;
    margin: 6px 0;
    width: 23px
}

footer {
    border-top: 1px solid #e9e9e9;
    margin: 50px 20px 0;
    padding: 20px;
    text-align: center
}

footer .cc {
    color: #858585;
    font-size: 14px
}

footer .menu ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0
}

footer .menu ul li {
    display: inline-block
}

footer .menu ul li a {
    color: #2e2e2e;
    font-size: 14px;
    margin: 0 5px;
    text-decoration: none !important
}

footer .menu ul li a:hover {
    color: #0006ff
}

#home #jumbotron {
    margin: 0 auto;
    max-width: 850px
}

#home #jumbotron h1 {
    text-align: center
}

#home #jumbotron h2 {
    color: #898989;
    font-size: 18px;
    font-weight: 500;
    text-align: center
}

#home #jumbotron .tabs {
    -ms-overflow-style: none;
    background: #f5f3f3;
    border-radius: 50px;
    display: inline-block;
    margin: 0 auto 25px;
    max-width: 580px;
    overflow: scroll;
    overflow-x: scroll;
    padding: 10px;
    scrollbar-width: none;
    white-space: nowrap;
    width: 100%
}

#home #jumbotron .tabs::-webkit-scrollbar {
    display: none
}

#home #jumbotron .tabs .tab {
    border-radius: 21px;
    color: #838383;
    display: inline-block;
    font-size: .9em;
    margin: 0 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none !important
}

#home #jumbotron .tabs .tab:focus,
#home #jumbotron .tabs .tab:visited {
    color: #838383
}

#home #jumbotron .tabs .tab.active,
#home #jumbotron .tabs .tab.active:focus,
#home #jumbotron .tabs .tab.active:visited,
#home #jumbotron .tabs .tab:hover {
    background: #0006ff;
    color: #fff
}

#home #search,
.share-links {
    text-align: center
}

.share-links {
    align-items: center;
    display: flex;
    justify-content: center
}

.share-links .label {
    font-weight: 700;
    margin-right: 5px
}

.share-links ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.share-links ul li {
    display: inline-block
}

.share-links ul svg {
    display: block;
    margin: 0 4px;
    width: 20px
}

.playlistTable thead {
    background: #000;
    color: #fff;
    font-size: 15px;
    text-align: left
}

.playlistTable thead th {
    padding: 10px
}

.playlistTable tbody tr:nth-child(2n) {
    background: #fff
}

.playlistTable tbody tr:nth-child(odd) {
    background: #f7f7f7
}

.playlistTable tbody .playlist__video--index {
    text-align: center
}

.playlistTable tbody .playlist__video--title {
    line-height: 30px
}

.playlistTable tbody td {
    padding: 10px
}

.playlistTable tbody img {
    border-radius: 3px;
    max-width: 100px
}

.playlistTable tbody .btn_download {
    background: #0006ff;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
    text-decoration: none !important
}

.playlistTable tbody .btn_download:hover {
    background: #0207bb !important;
    color: #fff !important;
    text-decoration: none !important
}

.card__description {
    background: #f7f7f7;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px
}

.card__description h2 {
    color: #000;
    text-align: center
}

.card__description img {
    height: auto;
    max-height: 300px;
    max-width: 100%
}

.width__max--850 {
    margin: 0 auto;
    max-width: 850px
}

.alert {
    border-radius: 5px;
    font-size: 15px;
    padding: 10px
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24
}

.search__bar--one {
    text-align: center
}

.search__bar--one form {
    display: inline-block;
    position: relative;
    width: 100%
}

.search__bar--one input[type=text] {
    background-color: none;
    background-image: none;
    border: 6px solid #e9e9e9;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    padding: 15px 110px 15px 15px;
    width: 100%
}

.search__bar--one input[type=text]:-moz-read-only {
    background: #f3f3f3
}

.search__bar--one input[type=text]:read-only {
    background: #f3f3f3
}

.search__bar--one .btn__search {
    background: #0006ff;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 17px;
    position: absolute;
    right: 5px;
    top: 6px
}

.search__bar--one .btn__search:hover {
    background: #0207bb !important
}

.search__bar--one .btn__search.disabled {
    background: #f3f3f3 !important;
    color: #a3a3a3 !important
}

.faq-list .faq-item {
    margin-bottom: 15px
}

.faq-list .faq-item .q {
    font-weight: 700
}

.faq-list .faq-item .a {
    margin-top: 10px
}

.loading-message {
    display: none;
    text-align: center
}

.loading-message .label {
    color: #333;
    font-size: 17px;
    margin-top: 10px
}

.loading-message .loader {
    animation: pgfill 1s linear infinite;
    background-image: linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0);
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    background-repeat: no-repeat;
    background-size: 20px auto;
    display: block;
    height: 20px;
    margin: 0 auto;
    position: relative;
    width: 140px
}

@keyframes pgfill {
    0% {
        background-image: linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0)
    }
    25% {
        background-image: linear-gradient(#0006ff 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0)
    }
    50% {
        background-image: linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#0006ff 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0)
    }
    75% {
        background-image: linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#0006ff 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0)
    }
    to {
        background-image: linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#a1a1a1 20px, transparent 0), linear-gradient(#0006ff 20px, transparent 0)
    }
}

#downloadPage .downloadSection {
    margin: 50px auto 0;
    max-width: 900px
}

#downloadPage .downloadSection .tabs {
    align-items: center;
    background: #f7f7f7;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%
}

#downloadPage .downloadSection .tabs .tab {
    background: #f7f7f7;
    color: #909090;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%
}

#downloadPage .downloadSection .tabs .tab:hover {
    background: #e1e1e1;
    color: #747373
}

#downloadPage .downloadSection .tabs .tab.active {
    background: #0006ff;
    color: #fff;
    font-weight: 700
}

#downloadPage .downloadSection .tabs .tab.active:hover {
    background: #0006ff;
    color: #fff
}

#downloadPage .downloadSection .info img {
    border-radius: 5px;
    display: block;
    max-width: 300px;
    width: 100%
}

#downloadPage .downloadSection .info .title {
    color: #222;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px
}

#downloadPage .downloadSection .downloads {
    background: #f7f7f7;
    border-radius: 5px;
    padding: 10px
}

#downloadPage .downloadsTable {
    border-bottom: 1px solid #dedede;
    margin: 0 auto 20px;
    max-width: 700px;
    width: 100%
}

#downloadPage .downloadsTable tbody {
    background-color: #fff;
    text-align: center
}

#downloadPage .downloadsTable tbody td {
    border-top: 1px solid #dedede;
    font-size: 16px;
    padding: 21px 7px
}

#downloadPage .downloadsTable tbody td .downloadBtn {
    background: #0006ff;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 15px;
    text-decoration: none !important
}

#downloadPage .downloadsTable tbody td .downloadBtn:hover {
    background: #0207bb !important;
    color: #fff !important;
    text-decoration: none !important
}

#downloadPage .downloadsTable .headerRow {
    font-size: 17px
}

#downloadPage .downloadsTable .headerRow th {
    margin-bottom: 10px;
    padding: 20px 7px
}

#black-cover {
    background: rgba(0, 0, 0, .5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 90
}

.sidenav .side-social-follow .text {
    color: #555;
    font-size: 18px;
    margin: 15px 0;
    text-align: left
}

.sidenav .side-social-follow img {
    bottom: -3px;
    position: relative;
    width: 30px
}

.sidenav .side-social-follow a span {
    margin-left: 3px;
    position: relative;
    top: -5px
}

.sidenav .side-social-follow a {
    border-radius: 3px;
    color: #fff;
    display: block;
    margin-top: 11px;
    padding: 3px 18px;
    text-align: center;
    text-decoration: none;
    width: 150px
}

.sidenav .twitter {
    background: #3cacf2
}

.sidenav .facebook {
    background: #3b5898
}

.sidenav {
    background: #fff;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: .4s;
    width: 0;
    z-index: 1;
    z-index: 100
}

.sidenav .side-logo {
    padding: 0 8px 0 25px
}

.sidenav .side-logo img {
    bottom: 5px;
    position: relative;
    width: 45px
}

.sidenav .side-logo .name {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 0 5px
}

.sidenav .side-logo .name,
.sidenav .side-logo .name:hover {
    color: #000;
    text-decoration: none
}

.sidenav .side-content {
    background: #fff;
    height: 100%;
    margin: 0;
    opacity: 1;
    padding: 15px 15px 0;
    width: 100%
}

.sidenav .block {
    border-top: 1px solid #e8e7e7;
    margin-top: 15px;
    padding: 10px 0
}

.sidenav .links a {
    color: #555;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 5px;
    text-decoration: none;
    transition: .3s
}

.sidenav .links a:active,
.sidenav .links a:hover {
    background: rgba(0, 0, 0, .129)
}

.sidenav .closebtn {
    color: #555;
    font-size: 36px;
    font-weight: 400;
    padding: 8px 8px 8px 32px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 4px;
    transition: .3s
}

.dropdown .caret-down {
    bottom: 1px;
    display: inline-block;
    margin-left: 2px;
    position: relative
}

.dropdown .caret-down svg {
    fill: #000;
    width: 10px
}

.dropbtn {
    border: none;
    color: #000;
    cursor: pointer
}

.dropdown li {
    list-style: none;
    padding: 0;
    text-decoration: none !important
}

.dropbtn:focus,
.dropbtn:hover {
    text-decoration: underline
}

.dropdown {
    display: inline-block;
    position: relative
}

.dropdown-content {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    display: none;
    min-width: 200px;
    position: absolute;
    right: 10px;
    text-align: left;
    top: 30px;
    z-index: 1
}

.dropdown-content a {
    color: #000;
    display: block;
    padding: 12px 16px;
    text-decoration: none
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block
}

.dropdown .country-flag {
    display: inline-block
}

.dropdown .country-flag svg {
    margin-right: 2px;
    position: relative;
    top: 3px;
    width: 17px
}

.sidenav .dropdown {
    display: block !important;
    text-align: left
}

.sidenav .dropdown .dropbtn {
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 5px;
    text-decoration: none;
    transition: .3s
}

.sidenav .dropdown .caret-down svg {
    fill: #000 !important
}

#myResponsiveDropdown a {
    background: #f0f0f0;
    color: #555
}

#myResponsiveDropdown {
    background-color: #fff;
    display: none;
    left: 10px;
    text-align: left;
    width: 135px;
    width: 100%;
    z-index: 10
}

.sidenav .dropdown .dropbtn:active,
.sidenav .dropdown .dropbtn:hover {
    background: rgba(0, 0, 0, .129)
}